$enable-gradients: true;
$border-radius: 3rem;
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';
#{$a-tags} {
    color: #f6e56c;
    text-decoration: none;
}
#{$a-tags-hover}{
    color: #fba837;
}

#logo{
    width: 100px;
    height: 100px;
}
body{
    background-color: #000000;
    padding: 0px;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
 }

#gradient
{
  width: 100%;
  height: 100px;
  padding: 0px;
  margin: 0px;
}

#forgot {
    color: #280085 !important;
}

@import "node_modules/bootstrap/scss/bootstrap";
